.year__months__container {
  display: flex;
  justify-content: center;
}

.year__months {
  display: flex;
  flex-wrap: wrap;
  /* min-width: 700px; */
  justify-content: center;
}

.month {
  width: 33.33%;
  border: 1px dotted #c0c0c0;
  box-sizing: border-box;
}

.month__name {
  margin: 15px auto;
}

.month__week {
  display: flex;
}

.week__day {
  width: 14%;
  padding: 5px 0;
}

.week__day--sat {
  color: pink;
}

.week__day--sun {
  color: red;
}

.daysOfWeek-names {
  display: flex;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.dayOfWeek-name {
  margin: 10px 0;
  padding: 0;
}

.dayOfWeek-name__label {
  font-style: italic;
}
